# KNN

In [4]:
import pandas as pd
import numpy as np

In [7]:
df1 = pd.DataFrame()
df1['Age'] = [20, 40, 30]
df1['Salary'] = [3, 4.5, np.nan]

In [8]:
print(df1)

   Age  Salary
0   20     3.0
1   40     4.5
2   30     NaN

In [9]:
from sklearn.impute import KNNImputerputer

In [10]:
knnimp = KNNImputer(n_neighbors=2)

In [11]:
knnimp.fit_transform(df1)

array([[20.  ,  3.  ],
       [40.  ,  4.5 ],
       [30.  ,  3.75]])

In [12]:
(3 + 4.5)/2

3.75

In [14]:
df = pd.DataFrame()
df['Maths'] = [80,90,np.nan, 92]
df['Chemistry'] = [60,65,58, np.nan]
df['Physics'] = [np.nan,57,84,78]
df['Biology'] = [78, 89, 67, np.nan]

In [15]:
df

   Maths  Chemistry  Physics  Biology
0   80.0       60.0      NaN     78.0
1   90.0       65.0     57.0     89.0
2    NaN       58.0     84.0     67.0
3   92.0        NaN     78.0      NaN

In [25]:
knnimp = KNNImputer(n_neighbors=3)

In [26]:
knnimp.fit_transform(df)

array([[80.        , 60.        , 73.        , 78.        ],
       [90.        , 65.        , 57.        , 89.        ],
       [87.33333333, 58.        , 84.        , 67.        ],
       [92.        , 61.        , 78.        , 78.        ]])

In [27]:
(60 + 65 + 58)/3

61.0